.App {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: block;
  height: 64px;
line-height: 64px;
}

.App__title {
  left: 50%;
  right: auto;
  position: absolute;
  font-size: xx-large;
}
