// primary dark
$primary-darkest: #170F11;

// primary
$primary-dark: #31182c;

// primary light
$primary: #5C164E;

$primary-light: #9B287B;

$white: #E2FCEF;


body {
  background: $primary-dark;  /* fallback for old browsers */
  background:  radial-gradient(30% 30%, circle closest-corner, $primary-dark, $primary-darkest);
  background:  -webkit-radial-gradient(30% 30%, circle closest-corner, $primary-dark, $primary-darkest);

  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $white;
  font-size: 30px;
}

.recipes__view {
  margin: 0 auto;
}

.recipe__list-container {
  display: flex;
  flex-wrap: wrap;
}
