// primary dark
$primary-dark: rgb(46, 4, 69);

// primary
$primary: rgb(62, 16, 88);

// primary light
$primary-light: rgb(117, 78, 139);

body {
  background: $primary;  /* fallback for old browsers */
  background:  radial-gradient(30% 30%, circle closest-corner, $primary, $primary-dark);
  background:  -webkit-radial-gradient(30% 30%, circle closest-corner, $primary, $primary-dark);

  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
