.ReactTags__tags {

}

.ReactTags__tagInput {
    display: inline;
}

.ReactTags__tagInput > input {
  font-size: 50%;
  color: rgba(226, 252, 239, 0.8) !important;
  border: none;
  border-radius: 2px;
  padding: 8px;
  background-color: rgba(226, 252, 239, 0.1);
  &:focus {
    // box-shadow: 0 2px 0 0 ;
    outline: none;
  }
}

.ReactTags__tag {
  margin-right: 5px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(226, 252, 239, 0.8);
  border-radius: 2px;
  border: 1px solid rgba(226, 252, 239, 0.4);
  display: inline;
}

.ReactTags__remove {
  color: rgba(226, 252, 239, 0.8);
  margin-left: 6px;
}
